<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SEQ2 SERVER</title>
    <h1> Seq2 server </h1>
    <p> Access to the server </p>
    <hr>
  </head>
  <body>
    <form action="/ping" >
       Is the server alive? <input type="submit" value="PING">
    </form>
    <hr>
    Get a sequence. Select sequence number:
    <form action="/get" >
      <select name="n_sequence">
        {% for n in range(0, context.n_sequences) %}
        <option value="{{n}}"> {{n}}</option>
        {% endfor %}
      </select> <input type="submit" value="GET">
    </form>
    <hr>
    Get a sequence. Select gene:
    <form action="/gene" >
      <select name="gene_name">
        {% for g in context.genes %}
        <option value="{{g}}"> {{g}}</option>
        {% endfor %}
      </select> <input type="submit" value="GENE">
    </form>
    <hr>
    <form action="/operation" >
       Sequence: <input type="text" name="sequence">
        Rev: <input type="radio" name="operation" value="rev">
        Info: <input type="radio" name="operation" value="info">
        Comp: <input type="radio" name="operation" value="comp">
      </select> <input type="submit" value="OPERATE">
    </form>
  </body>
</html>
